*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
.wrapper {
  width: 1904px;
  padding: 0px 122px 0px 122px;
  background: mediumseagreen;
}
.news__slider {
  /* padding: 30px 0 70px 0; */
  overflow: hidden;
}
.news__card {
  width: 100%;
}
.news__row {
  display: grid;
  grid-template-rows: 400px 400px;
  grid-template-columns: 58% 41%;
  grid-gap: 30px;
  box-shadow: 0px 0px 21px 0px #92929233;
}
.card-complex__wrapper {
  background: #ffffff;
  border-radius: 14px;
}
.card-complex__wrapper img {
  width: 100%;
  height: 100%;
}
.card__wrapper {
  background: #ffffff;
  border-radius: 14px;
}
.card__wrapper img {
  width: 100%;
  height: 100%;
}

/* .news__slider .swiper-button-prev::after,
.news__slider .swiper-button-next::after {
  color: aquamarine;
  font-size: 80px;
} */

@media (max-width: 1349px) {
  .wrapper {
    max-width: 1349px;
    padding: 0px 84px 0 84px;
    background: yellow;
  }
  .news__row {
    display: grid;
    grid-template-rows: 283px 283px;
    grid-template-columns: 58% 41%;
    grid-gap: 30px;

    box-shadow: 0px 0px 21px 0px #92929233;
    border-radius: 14px;
  }
  .card-complex__wrapper {
  }
  .card__wrapper {
  }
}
@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
    padding: 0px 34px 0 34px;
    background: rgb(102, 102, 211);
  }
  .news__row {
    grid-template-rows: 769px;
    grid-template-columns: 100%;
  }
}
